<h1><%- title %></h1>
<%- messages() %>
<form id="registerForm" action="/account/register" method="post">
    <label for="account_firstname">First name</label>
    <input type="text" name="account_firstname" id="account_firstname">
    <label for="account_lastname">Last name</label>
    <input type="text" name="account_lastname" id="account_lastname">
    <label for="account_email">Email Address</label>
    <input type="email" name="account_email" id="account_email">
    <label for="account_password">Password</label>
    <input type="password" name="account_password" id="account_password">
    <p>Password must be 12 characters minimum, countain at least 1 capital letter, number, and special character</p>
    <button id="registerBtn" type="submit">Register</button>
</form>